@import "@/assets/styles/variables";

.Filter {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.6rem;
  background: $neutral-000;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    border-bottom: 2px solid $neutral-100;
    padding-bottom: 1rem;
    padding: 1.2rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .util {
      font-size: 1.3rem;
      color: $neutral-300;
      font-weight: 500;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $neutral-500;
    }
  }

  .filter_item {
    padding: 0 1.6rem;
  }

  .filter {
    padding: 0 1.6rem;
    margin-top: 1rem;

    button {
      width: 100%;
      border: 1px solid $neutral-100;
      border-radius: 0.6rem;
      padding: 1rem 1.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: $neutral-000;
      background: $primary-blue;
      gap: 1rem;
      cursor: pointer;

      &:active {
        border: 1px solid $primary-blue;
      }
    }
  }

  .heading {
    font-size: 1.3rem;
    color: $neutral-300;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }
}
